html,
body {
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
.string{
    width: 100%;
    height: 200px;
}